.assai{
    position: relative;
    top: 1px;
}


.hiperideal{
    position: relative;
    top: 1px;
}


.assai{
    position: relative;
    top: 1px;
}


.assai{
    position: relative;
    top: 1px;
}